extends layout-public

block content
  div.jumbotron
    h1 Hello, guest!
    p Sign-in or sign-up now:
    div.pull-left.padding-right: a.btn.btn-primary.btn-lg(href="/sign-in") Sign-in
    div.pull-left.padding-right: a.btn.btn-success.btn-lg(href="/sign-up") Sign-up
    div.clearfix
