extends layout-public

block content
  div.jumbotron
    h1 Sign-in
    if message
      div.alert.alert-danger.alert-dismissible
        button.close(type="button" data-dismiss="alert")
          span &times;
        span= message
    form(action="/sign-in" method="post")
      div.form-group
        label(for="email") E-mail
        input.form-control#email(type="email" name="email" placeholder="Enter Your E-mail" required)
      div.form-group
        label(for="password") Password
        input.form-control#password(type="password" name="password" placeholder="Enter Your Password" required)
      button.btn.btn-primary Submit
    br
    p If you don't have an account, please #[a(href="/sign-up") Sign-up]
